body {
    color: rgb(228, 148, 255);
    background: rgb(248, 214, 24);
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px rgb(150, 255, 223);
    padding: 20px;
    font-size: 32px;
    color: rgb(87, 170, 124);
}

.chamada {
    background: rgb(255, 125, 159);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 3px solid rgb(84, 224, 243);
}

.categoria h2 {
    color: rgb(235, 227, 230);
}